body{
    color: #fff;
}

.row{
    /* border: 1px solid red; */
}

[class^="col"]{
    background-color: dodgerblue;
    border: 1px solid white;
    height: 40px;
}

.nested{
    background-color: forestgreen;
}