body{
    color: #fff;
}

.row{
    /* border: 1px solid red; */
}

[class^="col"]{
    background-color: dodgerblue;
    border: 1px solid white;
    height: 40px;
    padding: 10px;
}

.nested{
    margin: 0 1px;
    background-color: #00E165;
    /* padding: 20px; */
    height: 40px;
    width: 100%;
}